{% extends '@App/base.html.twig' %}

{% block body %}
    <div class="span9">
        <ul class="breadcrumb">
            <li><a href="{{ path('home_page') }}">Home</a> <span class="divider">/</span></li>
            <li><a href="{{ path('home_page') }}">Product</a> <span class="divider">/</span></li>
            <li class="active">CreateProduct</li>
        </ul>
        <h3>Create Product</h3>
        <div class="well">
            {% form_theme form with 'forms/customize_form.html.twig' %}
            {{ form(form) }}
        </div>
    </div>

{% endblock %}