{% extends '@App/base.html.twig' %}

{% block body %}
    <h2>Available Role</h2>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Available Role</th>
            </tr>
        </thead>
        <tbody>
            {% for role in roles %}
                <tr>
                    <td>{{ role.id }}</td>
                    <td>{{ role.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>Consider carefully the creation of roles</p>
    <h2>Add user role</h2>
    {{ form(form) }}
{% endblock %}