{% extends '@basic/base.html.twig' %}

{% block body %}
    <div class="span9">
        <h2>Change password</h2>

        <div class="well">

        {{ form_start(form) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}
        </div>
    </div>
{% endblock %}