{% extends '@basic/base.html.twig' %}

{% block title %}
    <title>Forgot password-Online Shop</title>
{% endblock %}

{% block body %}
    <div class="span9">
        <h2>Forgot password</h2>

        {% for message in app.flashes('error') %}
            <div class="alert alert-error">
                {{ message }}
            </div>
        {% endfor %}

        <div class="well">
            <p>Please insert your username and email !</p>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}