{% extends '@basic/base.html.twig' %}

{% block body %}

    <h2>
        Your registration has passed successfully, you have received a email
        to confirm and activate your account!
    </h2>

{% endblock %}