{% extends '@basic/base.html.twig' %}

{% block body %}

    <li>Your username : {{ user.username }}</li>
    <li>Your name : {{ user.fullName }}</li>
    <li>Your email : {{ user.email }}</li>
{% endblock %}