{% extends '@App/base.html.twig' %}

{% block body %}
    <h2>Edit Product</h2>
    {{ form_start(form) }}
        {{ form_widget(form) }}

        {{ form_row(form.product.category,{'label':'ddfffd'}) }}
        
    <input type="submit" value="Edit :)">
    {{ form_end(form) }}

{% endblock %}