{% extends '@basic/base.html.twig' %}

{% block body %}
    <p>Hello word
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            {{ app.user.username }}</p>
        {% endif %}
{% endblock %}
